In [114]:
print ('hello python')

hello python

In [115]:
print(3 + 7)
print(10 - 3)
print(15 / 7)
print(34 * 100)
print ((1+1) *3)

10
7
2.142857142857143
3400
6

In [116]:
# valiable

print('hello python')
str_data = 'hello' #string
int_data = 1 #integer
float_data = 1.1 
bool_data = True # Boolean 

print(str_data, int_data, float_data, bool_data)

hello python
hello 1 1.1 True

In [117]:
num1 = 14
num2 = 5
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

19
9
70
2.8

In [118]:
print(3 < 7)
print(10 < 3)
print(15 > 7)
print(3 >= 3)
print(3 <= 10)
print(34 == 100)
print(34 != 100)

True
False
True
True
True
False
True

In [119]:
r = 10
pi = 3.14

diameter = r *2 
circumference = 2*pi*r
area = pi * (r **2) 

print(diameter, circumference, area)

20 62.800000000000004 314.0

In [120]:
#Type Casting

float(3)
int(3.6)
str(1)
int('12') # str -> int

TypeError: 'str' object is not callable

In [ ]:
digit_str = '123'
print(type(digit_str))

<class 'str'>


[1.String]


* input & print

In [ ]:
article= """Who is Yoon and why did he impose martial law?
On 3 December, the country was stunned when Yoon said he was imposing martial law to protect the country from "anti-state" forces that sympathised with North Korea.

South Korean politicians immediately called Yoon's declaration illegal and unconstitutional. The leader of his own party, the conservative People's Power Party, also called Yoon's act "the wrong move".

Meanwhile, the leader of the country's largest opposition party, Lee Jae-myung of the liberal Democratic Party (DP) called on his MPs to converge on parliament to vote down the declaration.

He also called on ordinary South Koreans to show up at parliament in protest.

Thousands heeded the call, rushing to gather outside the now heavily guarded parliament. Protesters chanted "no martial law" and "strike down dictatorship".

And lawmakers were also able to make their way around the barricades - even climbing fences to make it to the voting chamber.

Shortly after 01:00 on Wednesday, South Korea's parliament, with 190 of its 300 members present, voted down the measure. President Yoon's declaration of martial law was ruled invalid.

The last time martial law was declared in South Korea was in 1979, when the country's then long-term military dictator Park Chung-hee was assassinated during a coup.

It has never been invoked since the country became a parliamentary democracy in 1987.

But why did he do it?

Yoon was relegated to a lame duck president and reduced to vetoing bills passed by the opposition, a tactic that he used with "unprecedented frequency", said Celeste Arrington, director of The George Washington University Institute for Korean Studies.

Then on the week on 3 December, the opposition slashed the budget the government and ruling party had put forward.

Around the same time, the opposition was moving to impeach cabinet members, mainly the head of the government audit agency, for failing to investigate the president's wife.

With political challenges pushing his back against the wall, Yoon went for the nuclear option - pressing the red button of martial law."""

In [ ]:
print(article[0]) # first letter

W

In [ ]:
print(article.count("South"))
print(len(article)) # string count
print(article.find("S")) # S가 몇번째에 처음 나오는지 
print(article.replace("Yoon", "Y"))

4
2111
213
Who is Y and why did he impose martial law?
On 3 December, the country was stunned when Y said he was imposing martial law to protect the country from "anti-state" forces that sympathised with North Korea.

South Korean politicians immediately called Y's declaration illegal and unconstitutional. The leader of his own party, the conservative People's Power Party, also called Y's act "the wrong move".

Meanwhile, the leader of the country's largest opposition party, Lee Jae-myung of the liberal Democratic Party (DP) called on his MPs to converge on parliament to vote down the declaration.

He also called on ordinary South Koreans to show up at parliament in protest.

Thousands heeded the call, rushing to gather outside the now heavily guarded parliament. Protesters chanted "no martial law" and "strike down dictatorship".

And lawmakers were also able to make their way around the barricades - even climbing fences to make it to the voting chamber.

Shortly after 01:00 on Wednesday, South Korea's parliament, with 190 of its 300 members present, voted down the measure. President Y's declaration of martial law was ruled invalid.

The last time martial law was declared in South Korea was in 1979, when the country's then long-term military dictator Park Chung-hee was assassinated during a coup.

It has never been invoked since the country became a parliamentary democracy in 1987.

But why did he do it?

Y was relegated to a lame duck president and reduced to vetoing bills passed by the opposition, a tactic that he used with "unprecedented frequency", said Celeste Arrington, director of The George Washington University Institute for Korean Studies.

Then on the week on 3 December, the opposition slashed the budget the government and ruling party had put forward.

Around the same time, the opposition was moving to impeach cabinet members, mainly the head of the government audit agency, for failing to investigate the president's wife.

With political challenges pushing his back against the wall, Y went for the nuclear option - pressing the red button of martial law.

In [ ]:
string1 = 'python'

print(string1[2:4]) # 2~3까지 출력 (특정 문자열 출력)

th

In [ ]:
some_string = "     grace..."
print(some_string)
some_string.strip()
some_string.strip(".")

     grace...

'     grace'

In [ ]:
print("I have a {}, I have an {}.".format( "pen", "apple"))
print("I have a {0}, I have an {1}.".format( "pen", "apple"))

I have a pen, I have an apple.
I have a pen, I have an apple.

In [ ]:
interest = 0.891
print (format(interest, ".2f")) # 소수점 두번째까지만

0.89

In [ ]:
# %s -string, %c - character, %d - int, %f - float 

print ("I am %s, I am %d years old." %("grace", 20))

I am grace, I am 20 years old.

In [ ]:
#소수 첫 번째 자리지지

digit = 3.1234
print(format(digit, ".1f"))

3.1

In [ ]:
# 문자열 <-> 정수

data = '720'
print (int(data))

data1 = 100
print (str(data1))

720
100

In [ ]:
# 6의 2승

print (6**2)

36

In [ ]:
# List

location = ['서울', '대전', '대구', '부산']
print(location)
print(location[0])

['서울', '대전', '대구', '부산']
서울

In [ ]:
# add data in list

location.append('제주')
location

['서울', '대전', '대구', '부산', '제주', '제주']

In [ ]:
location.insert(0, '인천')
location

['인천', '인천', '서울', '제주', '제주']

In [ ]:
location[1:3]

['대전', '대구']

In [ ]:
# delete

del location[1]
location

['서울', '제주', '제주']

In [ ]:
# empty list
# location = [] 
location = list()

location.append('서울')
location.append('대전')

In [ ]:
location[1]

'대전'

## 리스트 변수

1. 리스트 선언
  - 리스트변수 = []
  - 리스트 변수 = list()
  - 리스트변수 = [데이터1, 데이터2,....]

2. 리스트 추가
  - 리스트변수.append(data)
  - 리스트변수.insert(indexNum, data)

3. 리스트 삭제
  - 리스트변수.remove(data)
  - del 리스트변수(인덱스번호)

4. 리스트 데이터 수정
  - 리스트변수[인덱스번호] =수정할 데이터

In [ ]:
location

['서울', '대전']

In [ ]:
location[1] = '부산'
location

['서울', '부산']

In [ ]:
location = ['seoul', 'busan', 1,2.1, True] # 다양한 데이터 타입을 넣을 수 있음

In [ ]:
# 리스트 데이터 정렬

numbers = [3, 1, 7, 10, 5]
print(numbers)

numbers.sort()
print(numbers)

[3, 1, 7, 10, 5]
[1, 3, 5, 7, 10]

In [ ]:
# 리스트 데이터 역순 정렬

numbers = [3, 1, 7, 10, 5]
numbers.reverse()
print(numbers)

[5, 10, 7, 1, 3]

In [ ]:
# 문자열 특수 함수와 리스트

python_is_easy = 'python is easy'
python_is_easy.split() # 공백을 기준으로 나눔

['python', 'is', 'easy']

[조건문]

In [ ]:
age = input("age?")
age_digit = int(age)
if age_digit >= 19:
    print('adult')

adult

In [ ]:
cash = int(input("cash?"))
if cash > 10000:
    print('rich')

rich

In [ ]:
age = int(input("age?"))
if age >= 19:
    print('adult')
else:
    print('teenager')

teenager

In [ ]:
age = int(input("age?"))
if age >= 19:
    print('adult')
elif age >= 13:
    print('teenager')
else:
    print('kid')

kid

In [ ]:
cash = 50000
if cash >= 30000:
    print('buy coffee')
else: 
    if cash >= 10000:
        print('buy juice')
    else:
        print('buy water')

buy coffee

practice

In [ ]:
# data type

data1 = 10
data2 = 2.2
data3 = 'hello'

print(type(data1))
print(type(data2))
print(type(data3))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# if

data1 = int(input('data1?'))
data2 = int(input('data2?'))

if data1 > data2:
    print('data1 is bigger')
else: 
    print('data2 is bigger')

data2 is bigger

In [ ]:
data = int(input('data?'))

if data %2 == 0:
    print('even')
else:
    print('odd')

even

In [ ]:
data1 = int(input('data1?'))
data2 = int(input('data2?'))
data3 = int(input('data3?'))

if data1 <=  data2 and data1 <= data3:
    print(data1)
elif data2 <= data1 and data2 <= data3:
    print(data2)
else:
    print(data3)

2

In [ ]:
data = int(input('data?'))

if data >= 81 and data <= 100:
    print('A')
elif data >= 61 and data <= 80:
    print('B')
else:
    print('C')

A

In [ ]:
#list 
# 주민번호 입력받아 앞 두자리 출력

data = input('ID Number?')
print (data[0:2])

# 주민번호 입력받아 뒷자리 맨 앞자리 출력


#print (data[7])
data_list = data.split('-')
print(data_list[1][0]) # 뒷자리 맨 앞자리 출력

92
1

In [ ]:
# 주민번호 입력받아 여자인지 남자인지 출력

data = input('ID Number?')
if data[7] == '1':
    print('M')
else:
    print('F')

F

In [ ]:
strip = 'python is easy????????'

print(strip.strip('?'))

python is easy

In [ ]:
letters = 'python'

print(letters[1], letters[3])

y h

In [ ]:
letters = input()

var = letters.find('n')

if var >= 0:
    print(0)
else:
    print(-1)

-1

In [ ]:
letters = input()

var = letters.find('n')

if var >= 0:
    print('there is n')
else:
    print('there is no n')

there is n

In [ ]:
data = input()
location = int(data[8:10])

if location >=0 and location <=8:
    print('서울')
else:
    print('부산')

서울

In [ ]:
letters = 'grace, Grace, Eunhye'
letters.split(',')

['grace', ' Grace', ' Eunhye']

In [ ]:
filename = 'grace.jpg'
filelist = filename.split('.')
print(filelist[0])

grace

[반복문]

In [ ]:
for index in range(20):
    print('hello python')

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [ ]:
data_list = [1, 2, 3, 4, 5]

for i in data_list:
    print(i)

1
2
3
4
5

In [ ]:
for index in range(1, 11): # start 1
    print(index) # 1~10까지 출력

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
for index in range(1, 11):
    sum += index 
print(sum)

55

In [ ]:
# while

i = 0
while i <=3:
    print(i)
    i = i+1

0
1
2
3

In [ ]:
name = ''
while name != 'grace':
    name = input('name?')
    print('hi, ' + name)

hi, kong
hi, ww
hi, grace

practice

In [ ]:
sum = 0

for i in range(1, 11):
    sum = sum + i 
    print (sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# 조건문, 반복문 응용

data = int(input())

if data >=2 and data <=9:
    for digit in range(1, 10):
        print(data, "X", digit, "=" , data * digit)

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [ ]:
data = input() 

data_list = data.split(",")

for str_data in data_list:
    print(str_data)

dave
 grace
 kong

In [ ]:
data = "[grace],[eunhye],[jane]"

for str_data in data.split(","):
    print(str_data[1:-1])

grace
eunhye
jane

In [ ]:
# 1~30까지 3의 배수 출력
for data in range(1, 31):
    if data % 3 ==0:
        print(data)

3
6
9
12
15
18
21
24
27
30

In [ ]:
sum = 0 

index = 1
while index <=100: 
    sum = sum + index 
    index = index + 1 
print(sum)

5050

In [ ]:
data = input()

while data != '4312':
    print('wrong password')
    data = input()
print('login success')

wrong password
login success

In [ ]:
num_list = [1,2,3, -11, -22, -33]

plus_list = list() 

for num in num_list:
    if num >= 0:
        plus_list.append(num) # append는 리스트에 추가하는 함수
        
print(plus_list)

[1, 2, 3]

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10]

data.reverse()

for item in data:
    print(item)

10
9
8
7
6
5
4
3
2
1

In [ ]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx']

for filename in filelist:
    print (filename.split('.')[0])

exercise01
exercise02
exercise03
exercise04

In [ ]:
filelist = ['exercise01.csv', 'exercise02.txt', 'exercise03.hwp', 'exercise04.docx']

for filename in filelist:
    if filename.split('.')[1] == 'txt':
        print(filename)

exercise02.txt

function

In [ ]:
def func1 ():
    print('hello') # 함수 정의
    
func1() # 함수 호출

hello

In [ ]:
def func1 (parameter1, parameter2):
    print('Hello', parameter1)
    print('Hello', parameter2)
    
func1('grace', 'eunhye')

Hello grace
Hello eunhye

In [ ]:
def func1 (data1, data2):
    return data1 + data2

y = func1(1,2)
print(y)

3

In [ ]:
def awe_sum(a,b):
    # local variable
    c= 1
    result = a + b
    return result

# global variable
a = 1
print(awe_sum(2,3))

5

In [ ]:
def print_hello():
    return 'hello'

result_hello = print_hello()
print(result_hello)

hello

In [122]:
def mul_return(a):
    b = a + 1
    return a, b

mul_return(10)

(10, 11)

In [123]:
def id_check(id):
    if id == "admin":
        print('invalid id: admin')
        return
    print('valid id', id)

데이터 구조 (Tuple)
: 리스트, 튜플, 딕셔너리, 집합

- 튜플은 괄호를 이용해 선언 
  tuple1=(1,2,3,4)
- 삭제, 추가 x 
- tuple 끼지 더하거나 반복 가능

In [ ]:
# 데이터 읽기 : 변수명[인덱스번호]
data = (1,2,3)

print(data[0])

1

In [127]:
data1 = (1,2,3)
data2 = (4,5,6)

data = data1 + data2
data

(1, 2, 3, 4, 5, 6)

In [128]:
data1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
x = 1
y = 2

''' temp = x
x = y
y = temp

x '''

2

In [133]:
# tuple
x = 1
y = 2

x, y = y, x

In [134]:
x

2

In [135]:
def quot_and_rem(a,b):
    quot = a // b
    rem = a % b
    return quot, rem

quot, rem = quot_and_rem(5,2)

quot

2

In [136]:
rem

1

Dictionary 

* 선언 + 입력: 변수명 = {} 또는 dic(), 초기값과 함께 선언 , 변수명 = {키:값, 키:값}
* 읽기: 변수명[키]
* 추가: 변수명[새로운키] = 새로운값

In [137]:
data_list = list() 
data_tuple = tuple()
data_dict = dict()

In [147]:
data_dict = {'한국': 'KOR', '미국': 'USA', '일본': 'JPN'}

In [148]:
data_dict['한국']

'KOR'

In [149]:
data_dict['중국'] = 'CHN'

data_dict

{'한국': 'KOR', '미국': 'USA', '일본': 'JPN', '중국': 'CHN'}

In [150]:
# delete

del data_dict['미국']

In [151]:
data_dict

{'한국': 'KOR', '일본': 'JPN', '중국': 'CHN'}

In [152]:
data_dict['일본'] = 'JP'

In [153]:
data_dict

{'한국': 'KOR', '일본': 'JP', '중국': 'CHN'}

In [154]:
data_dict.keys()

dict_keys(['한국', '일본', '중국'])

In [155]:
for keys in data_dict.keys():
    print(keys)

한국
일본
중국

In [156]:
data_dict.values()

dict_values(['KOR', 'JP', 'CHN'])

In [157]:
data_dict.items()

dict_items([('한국', 'KOR'), ('일본', 'JP'), ('중국', 'CHN')])

In [158]:
for data in data_dict.items():
    print(data)

('한국', 'KOR')
('일본', 'JP')
('중국', 'CHN')

set (집합)

In [159]:
data_set = set()

In [166]:
data_set = {'apple', 'banana', 'grape'}
type(data_set)

set

In [164]:
#data_set = set('hello') # data 1개 일때

In [167]:
# read

for data in data_set:
    print(data)

apple
banana
grape

In [168]:
'orange' in data_set

False

In [169]:
data1 = {'apple', 'banana', 'grape'}
data2 = {'potato', 'tomato', 'carrot', 'apple'}

data1 & data2 # 교집합

{'apple'}

In [170]:
data1 | data2 # 합집합

{'apple', 'banana', 'carrot', 'grape', 'potato', 'tomato'}

In [171]:
data1 - data2 # 차집합

{'banana', 'grape'}

In [172]:
data1 ^ data2 # 대칭 차집합

{'banana', 'carrot', 'grape', 'potato', 'tomato'}

practice

In [173]:
prices = input()

if prices[4:] == 'dollar':
    print(int(prices[:4]) * 1112, 'won')

111200 won

In [177]:
prices = '100 yen'

if prices[4:] == 'dollar':
    print(int(prices[:4]) * 1112, 'won')
elif prices[4:] == 'yen':
    print(int(prices[:4]) * 171, 'won')

17100 won

In [ ]:
currency = {'dollar': 1112, 'yen': 171} # dictionary
prices = input()
for currency_item in currency.keys():
    if prices[4:] == currency_item:
        print(int(prices[:4]) * currency[currency_item], 'won')

17100 won

In [184]:
for index in range(2, 10):
    for index2 in range(1,10):
        print (index, "X", index2, "=" , index * index2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [185]:
for index in range(2, 10):
    for index2 in range(1,10):
        if(index * index2) % 2 == 0: 
            print (index, "X", index2, "=" , index * index2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

In [187]:
dongs = ['101동', '102동', '103동', '104동', '105동']
hos = ['101호', '102호', '103호', '104호', '105호']

for dong in dongs:
    for ho in hos :
        print(dong, ho)
    print("\n")

101동 101호
101동 102호
101동 103호
101동 104호
101동 105호


102동 101호
102동 102호
102동 103호
102동 104호
102동 105호


103동 101호
103동 102호
103동 103호
103동 104호
103동 105호


104동 101호
104동 102호
104동 103호
104동 104호
104동 105호


105동 101호
105동 102호
105동 103호
105동 104호
105동 105호

In [189]:
tuple_data = ('a', 'b', 'c', 'd', 'e')
print(tuple_data[0], tuple_data[-1])

a e

In [191]:
tupledata = ('fun1', 'fun2', 'fun3', 'fun4', 'fun5')
data = list(tupledata)
del data[0]
tuple(data)

('fun2', 'fun3', 'fun4', 'fun5')

In [192]:
tupledata = ('fun1', 'fun2', 'fun3')

data = list(tupledata)
data.append('fun4')
tuple(data)

('fun1', 'fun2', 'fun3', 'fun4')

In [195]:
data = {'a': 1, 'b': 2, 'c': 3}

keys = data.keys()
values = data.values()

print(data)
print(list(keys))
print(list(values))

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

In [196]:
for item in data.keys():
    print(item, ":", data[item])

a : 1
b : 2
c : 3

In [200]:
data = {'environment': ['환경', '자연', 'X'], 'health': ['건강', '건강함', 'O'], 'nature': ['자연', '자연적', 'X']}

english = input()
if english in data.keys():
    data[english][2] = 'O' 


for item in data.keys():
    data_list = data[item]
    if data_list[2] == 'X':
        print(item)

nature