In [1]:
print ('hello python')

hello python

In [2]:
print(3 + 7)
print(10 - 3)
print(15 / 7)
print(34 * 100)
print ((1+1) *3)

10
7
2.142857142857143
3400
6

In [3]:
# valiable

print('hello python')
str_data = 'hello' #string
int_data = 1 #integer
float_data = 1.1 
bool_data = True # Boolean 

print(str_data, int_data, float_data, bool_data)

hello python
hello 1 1.1 True

In [4]:
num1 = 14
num2 = 5
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

19
9
70
2.8

In [5]:
print(3 < 7)
print(10 < 3)
print(15 > 7)
print(3 >= 3)
print(3 <= 10)
print(34 == 100)
print(34 != 100)

True
False
True
True
True
False
True

In [6]:
r = 10
pi = 3.14

diameter = r *2 
circumference = 2*pi*r
area = pi * (r **2) 

print(diameter, circumference, area)

20 62.800000000000004 314.0

In [7]:
#Type Casting

float(3)
int(3.6)
str(1)
int('12') # str -> int

12

In [8]:
digit_str = '123'
print(type(digit_str))

<class 'str'>


[1.String]


* input & print

In [9]:
article= """Who is Yoon and why did he impose martial law?
On 3 December, the country was stunned when Yoon said he was imposing martial law to protect the country from "anti-state" forces that sympathised with North Korea.

South Korean politicians immediately called Yoon's declaration illegal and unconstitutional. The leader of his own party, the conservative People's Power Party, also called Yoon's act "the wrong move".

Meanwhile, the leader of the country's largest opposition party, Lee Jae-myung of the liberal Democratic Party (DP) called on his MPs to converge on parliament to vote down the declaration.

He also called on ordinary South Koreans to show up at parliament in protest.

Thousands heeded the call, rushing to gather outside the now heavily guarded parliament. Protesters chanted "no martial law" and "strike down dictatorship".

And lawmakers were also able to make their way around the barricades - even climbing fences to make it to the voting chamber.

Shortly after 01:00 on Wednesday, South Korea's parliament, with 190 of its 300 members present, voted down the measure. President Yoon's declaration of martial law was ruled invalid.

The last time martial law was declared in South Korea was in 1979, when the country's then long-term military dictator Park Chung-hee was assassinated during a coup.

It has never been invoked since the country became a parliamentary democracy in 1987.

But why did he do it?

Yoon was relegated to a lame duck president and reduced to vetoing bills passed by the opposition, a tactic that he used with "unprecedented frequency", said Celeste Arrington, director of The George Washington University Institute for Korean Studies.

Then on the week on 3 December, the opposition slashed the budget the government and ruling party had put forward.

Around the same time, the opposition was moving to impeach cabinet members, mainly the head of the government audit agency, for failing to investigate the president's wife.

With political challenges pushing his back against the wall, Yoon went for the nuclear option - pressing the red button of martial law."""

In [10]:
print(article[0]) # first letter

W

In [11]:
print(article.count("South"))
print(len(article)) # string count
print(article.find("S")) # S가 몇번째에 처음 나오는지 
print(article.replace("Yoon", "Y"))

4
2111
213
Who is Y and why did he impose martial law?
On 3 December, the country was stunned when Y said he was imposing martial law to protect the country from "anti-state" forces that sympathised with North Korea.

South Korean politicians immediately called Y's declaration illegal and unconstitutional. The leader of his own party, the conservative People's Power Party, also called Y's act "the wrong move".

Meanwhile, the leader of the country's largest opposition party, Lee Jae-myung of the liberal Democratic Party (DP) called on his MPs to converge on parliament to vote down the declaration.

He also called on ordinary South Koreans to show up at parliament in protest.

Thousands heeded the call, rushing to gather outside the now heavily guarded parliament. Protesters chanted "no martial law" and "strike down dictatorship".

And lawmakers were also able to make their way around the barricades - even climbing fences to make it to the voting chamber.

Shortly after 01:00 on Wednesday, South Korea's parliament, with 190 of its 300 members present, voted down the measure. President Y's declaration of martial law was ruled invalid.

The last time martial law was declared in South Korea was in 1979, when the country's then long-term military dictator Park Chung-hee was assassinated during a coup.

It has never been invoked since the country became a parliamentary democracy in 1987.

But why did he do it?

Y was relegated to a lame duck president and reduced to vetoing bills passed by the opposition, a tactic that he used with "unprecedented frequency", said Celeste Arrington, director of The George Washington University Institute for Korean Studies.

Then on the week on 3 December, the opposition slashed the budget the government and ruling party had put forward.

Around the same time, the opposition was moving to impeach cabinet members, mainly the head of the government audit agency, for failing to investigate the president's wife.

With political challenges pushing his back against the wall, Y went for the nuclear option - pressing the red button of martial law.

In [12]:
string1 = 'python'

print(string1[2:4]) # 2~3까지 출력 (특정 문자열 출력)

th

In [13]:
some_string = "     grace..."
print(some_string)
some_string.strip()
some_string.strip(".")

     grace...

'     grace'

In [14]:
print("I have a {}, I have an {}.".format( "pen", "apple"))
print("I have a {0}, I have an {1}.".format( "pen", "apple"))

I have a pen, I have an apple.
I have a pen, I have an apple.

In [15]:
interest = 0.891
print (format(interest, ".2f")) # 소수점 두번째까지만

0.89

In [16]:
# %s -string, %c - character, %d - int, %f - float 

print ("I am %s, I am %d years old." %("grace", 20))

I am grace, I am 20 years old.

In [17]:
#소수 첫 번째 자리지지

digit = 3.1234
print(format(digit, ".1f"))

3.1

In [18]:
# 문자열 <-> 정수

data = '720'
print (int(data))

data1 = 100
print (str(data1))

720
100

In [19]:
# 6의 2승

print (6**2)

36

In [24]:
# List

location = ['서울', '대전', '대구', '부산']
print(location)
print(location[0])

['서울', '대전', '대구', '부산']
서울

In [ ]:
# add data in list

location.append('제주')
location

['서울', '대전', '대구', '부산', '제주', '제주']

In [34]:
location.insert(0, '인천')
location

['인천', '인천', '서울', '제주', '제주']

In [27]:
location[1:3]

['대전', '대구']

In [32]:
# delete

del location[1]
location

['서울', '제주', '제주']

In [37]:
# empty list
# location = [] 
location = list()

location.append('서울')
location.append('대전')

In [36]:
location[1]

'대전'

## 리스트 변수

1. 리스트 선언
  - 리스트변수 = []
  - 리스트 변수 = list()
  - 리스트변수 = [데이터1, 데이터2,....]

2. 리스트 추가
  - 리스트변수.append(data)
  - 리스트변수.insert(indexNum, data)

3. 리스트 삭제
  - 리스트변수.remove(data)
  - del 리스트변수(인덱스번호)

4. 리스트 데이터 수정
  - 리스트변수[인덱스번호] =수정할 데이터

In [38]:
location

['서울', '대전']

In [39]:
location[1] = '부산'
location

['서울', '부산']

In [41]:
location = ['seoul', 'busan', 1,2.1, True] # 다양한 데이터 타입을 넣을 수 있음

In [42]:
# 리스트 데이터 정렬

numbers = [3, 1, 7, 10, 5]
print(numbers)

numbers.sort()
print(numbers)

[3, 1, 7, 10, 5]
[1, 3, 5, 7, 10]

In [43]:
# 리스트 데이터 역순 정렬

numbers = [3, 1, 7, 10, 5]
numbers.reverse()
print(numbers)

[5, 10, 7, 1, 3]

In [44]:
# 문자열 특수 함수와 리스트

python_is_easy = 'python is easy'
python_is_easy.split() # 공백을 기준으로 나눔

['python', 'is', 'easy']